body {
	background-image: url("back.jpg");
	margin: 0px;
}
hr {
	border-color: #40b7b7;
	border-width: 2px;
	border-style: double;
	margin-bottom: 5em;
	margin-top: 0em;
}
.SLblock h1{
	margin: 0px;
}
.SLblock{
	padding: 40px;
	padding-left: 100px;
	padding-right: 100px;
	color: #ffffff;
	background-color: #323232;
	border: 5px solid #40b7b7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	margin-right: 1em;
	margin-left: 1em;
}
#main-header{
	text-align:center;
	background-color: #323232;
	color:white;
	padding:10px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
}
a:link, a:visited {
	color: #ffffff;
	background-color: #1a1e1e;
	border: 4px solid #40b7b7;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 0px 40px ;
	font-size: 1.5em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    border-color: green;
}